body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-image: url('images/aboutus.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}
section h1{
    font-size: 3rem ;
    margin-bottom: 2 rem;
    
}
section {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin-bottom: 15rem;
  margin-top: 5rem;
}

nav {
    margin: 0;
    color: rgb(0,0,0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
    margin-inline: 2%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #623E2A;
}




.text-and-image-section h2,
.three-columns-section h2 {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
   
}

.text-and-image-section p,
.text-and-image-section2 p,
.three-columns-section p {
    line-height: 1.5;
    font-size: 1em;
    font-weight: 600;
}



.three-columns {
    display: flex;
    flex-wrap: wrap;
}

.three-columns p {
    flex-basis: 30%;
    margin: 0rem 1.5rem 0rem 1.5rem;
}

.three-columns h2 {
    width: 100%;
}

.email-link {
    color: inherit;
    text-decoration: none;
}
.footer-column h1{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16pt;
}
  
.social-icons{
    display: flex;
}
  
.social-icons a{
    margin-right: 30px;
}
 
.social-icons a i{
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 5px;
}
.footer-section {
    background-color:#623E2A; /* Set background color for the footer */
    color: white;
    padding: 20px;
  }
  
  .footer-section h2 {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    margin: 1rem auto 2rem 0;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-around; /* Adjust as needed for spacing between columns */
  }
  
  .footer-column {
    flex: 1;
    padding: 10px;
    border: 1px solid white; /* White border for each column */
    margin: 0 5px; /* Adjust margin for spacing between columns */
  }
  
  .footer-column p {
    margin: 0;
    flex-wrap: wrap;
  }
  /* pop up styling */
.popup-container h1 {
    font-weight: bold;
    margin: 0;
      font-family: 'Cinzel', serif;
  }
  
  .popup-container h2 {
    text-align: center;
  }
  
  .popup-container span {
    font-size: 12px;
  }
  
  .popup-container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .popup-container button {
    border-radius: 20px;
    border: 1px solid #8B5F3D;
    background-color: #8B5F3D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .popup-container button:active {
    transform: scale(0.95);
  }
  
  .popup-container button:focus {
    outline: none;
  }
  
  .popup-container button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .popup-container form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .popup-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .popup-container .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
  }
  .popup-container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  .popup-container .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .popup-container .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .popup-container .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .popup-container .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .popup-container .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .popup-container .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .popup-container .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }
  
  .popup-container .overlay {
    background: #623E2A; /* Solid color fallback */
      background: -webkit-linear-gradient(to right, #623E2A, #8B5F3D);
      background: linear-gradient(to right, #623E2A, #8B5F3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
      transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .popup-container .container.right-panel-active .overlay {
      transform: translateX(50%);
  }
  
  .popup-container .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .popup-container .overlay-panel p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  .popup-container .overlay-left {
    transform: translateX(-20%);
  }
  
  .popup-container .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .popup-container .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .popup-container .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  .popup-container {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
              align-items: center;
              justify-content: center;
              z-index: 999;
          }
  
          .popup-content {
              background-color: #fff;
              padding: 20px;
              border-radius: 10px;
              max-width: 800px; /* Increase the max-width */
              width: 100%;
              text-align: center;
              position: relative;
          }
  
          .close-button {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
          }