* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}
header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
}
.header-container{
  background-image: url('images/header.png');
}
.header1-container{
  background-color:#623E2A;
}
.header2-container{
background-color: #EFEBE5;
}
.header2-container li a{
color: #623E2A;
}
nav {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

li {
  float: left;
  margin-inline: 2%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #623E2A;
  transition: width 0.3s;
}

li a:hover::after {
  width: 100%;
}
.header-content {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto ; /* Center the content horizontally */
}

.header-content p {
  font-size: 40px; /* Adjust the font size as needed */
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 20%;
}
.header-content h1 {
  font-size: 80px; /* Adjust the font size as needed */
  font-family: 'Baskervville', serif;
  font-weight: 100;
  margin-bottom: -20%;
}
/* pop up styling */
.popup-container h1 {
  font-weight: bold;
  margin: 0;
    font-family: 'Cinzel', serif;
}

.popup-container h2 {
  text-align: center;
}

.popup-container span {
  font-size: 12px;
}

.popup-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.popup-container button {
  border-radius: 20px;
  border: 1px solid #8B5F3D;
  background-color: #8B5F3D;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.popup-container button:active {
  transform: scale(0.95);
}

.popup-container button:focus {
  outline: none;
}

.popup-container button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.popup-container form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.popup-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.popup-container .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 480px;
}
.popup-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.popup-container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.popup-container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.popup-container .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.popup-container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.popup-container .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.popup-container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.popup-container .container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.popup-container .overlay {
  background: #623E2A; /* Solid color fallback */
    background: -webkit-linear-gradient(to right, #623E2A, #8B5F3D);
    background: linear-gradient(to right, #623E2A, #8B5F3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.popup-container .container.right-panel-active .overlay {
    transform: translateX(50%);
}

.popup-container .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.popup-container .overlay-panel p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.popup-container .overlay-left {
  transform: translateX(-20%);
}

.popup-container .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.popup-container .overlay-right {
  right: 0;
  transform: translateX(0);
}

.popup-container .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.popup-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: center;
            z-index: 999;
        }

        .popup-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            max-width: 800px; /* Increase the max-width */
            width: 100%;
            text-align: center;
            position: relative;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
/* reservation and catalogue buttons styling */
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.button {
  padding: 10px 50px;
  margin: 5%;
  margin-bottom: 15%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color:  #623E2A;
}
.text-and-image-section {
  display: flex;
  margin: 0 auto; /* Adjust the margin as needed */
  background-color: #EFEBE5;
}
.text-and-image-section h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  margin: 30% 0 0 17%;
  color: #623E2A;
  font-weight:400;
}
.text-and-image-section p {
  margin: 10% 0 0 17%;
  line-height: 1.5;
  font-size: 1.15em;
  color: #623E2A;
}
.text-container {
  flex: 1;
  padding: 20px;
  font-family: 'Baskervville', serif;
  font-weight: 100;
}

.image-container {
  flex: 1;
  text-align: right;
  margin: 8%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
.three-columns-section {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  align-items: center;
  margin: 0 auto; /* Adjust the margin as needed */
  background-color: #EFEBE5;
  background-image: url('images/review.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px;
}

.three-columns-section h2 {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  margin: 5%;
  color: #EFEBE5;
}

.columns-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed for spacing between columns */
  width: 100%;
  margin: 5%;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin-top: -3%;
}

.column h3 {
  font-family: 'IM Fell French Canon', serif;
  font-size: 3em;
  margin-bottom: 10px;
  color: #EFEBE5;
}

.column p {
  margin: 0;
  color: #EFEBE5;
}
.image-columns-section {
  text-align: center;
  margin: 0 auto ; /* Adjust the margin as needed */
  background-color: #EFEBE5;
  padding: 20px;
}

.image-columns-section h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  color: #623E2A;
  margin: 3%;
}

.columns-container1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20%;
  margin-left: 20%;
}

.image-column {
  flex: 1;
  margin: 0 auto 20%; 
  position: relative;
}

.column img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Add a border to the image */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.text-box {
  position: absolute;
  bottom: -120px;
  left: 50px; /* Adjust the left position as needed */
  right: 50px; /* Adjust the right position as needed */
  background-color: transparent;
  padding: 10px;
  border: 1px solid #623E2A; /* Border at the top of the text box */
}


.text-box h3 {
  color: #623E2A;
}

.text-box p {
  margin: 2% ;
  font-size: small;
  color: #623E2A;
  
}
.text-box li{
  font-size: small;
  color: #623E2A;
  text-align: left;
}
.footer-section {
  background-color:#623E2A; /* Set background color for the footer */
  color: white;
  padding: 20px;
}

.footer-section h2 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  margin: 3% auto 5% 0;
}

.footer-columns {
  display: flex;
  justify-content: space-around; /* Adjust as needed for spacing between columns */
}

.footer-column {
  flex: 1;
  padding: 10px;
  border: 1px solid white; /* White border for each column */
  margin: 0 5px; /* Adjust margin for spacing between columns */
}

.footer-column p {
  margin: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.catalogue {
  text-align: center;
  background-color: #EFEBE5;
  padding: 20px;
}
.catalogue h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5em;
  color: #623E2A;
  margin: 3%;
}

.columns-catalogue {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-catalogue {
  flex: 1;
  margin: 0 15px;
  margin-bottom: 30px; /* Add margin for space between columns */
  position: relative;
}

.image-catalogue img {
  width: 100%;
  height: auto;
}
.pagination-container { /*pagination*/
  text-align: center;
  margin: 3%;
}

.pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.page-link {
  text-decoration: none;
  color: #623E2A;
  padding: 10px 15px;
  margin: 0 5px;
  border: transparent;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: white;
}

.learn-more-button {
  display: inline-block;
  padding: 5px 15px;
  background-color: transparent;
  color: #623E2A;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #623E2A;
}

.learn-more-button:hover {
  background-color: #fff;
}
/*product page css*/
.product-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.small-images-container {
display: flex;
flex-direction: column;
margin: 5px 0 0 5px;
}

.small-image {
width: 100px;
height: 100px;
margin-bottom: 5px;
cursor: pointer;
transition: opacity 0.3s ease-in-out;
}
.small-image:hover {
opacity: 0.7;
}

.big-image-container {
flex-grow: 1;
}

.big-image {
width: 50%;
max-width: 100%;
height: 83vh;
padding: 5px;
}
.product-info {
  flex: 1;
  padding: 20px;
  margin-left: -45%;
}
.product-info h2{
font-family: 'Cinzel', serif;
color: #4E2F1D;
}
.reserve-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #623E2A;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-right:4%;
  margin-top: 1%;
}
.reserve-button:hover {
background-color: #4E2F1D;
}
.date-time-inputs {
display: flex;
flex-wrap: wrap;
gap: 25px;
}

.input-group {
display: flex;
flex-direction: column;
max-width: 250px; /* Adjust the width as needed */
}

.input-group label {
margin-bottom: 5px;
}

.quantity-selector,
.date-time-inputs {
  margin-top: 20px;
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.comment-form {
margin-top: 20px;
padding: 20px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
}

.comment-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 4px;
}
/* Thank You Page */
.home-link {
display: inline-block;
padding: 10px 20px;
background-color:#623E2A;
color: #fff;
text-decoration: none;
border-radius: 4px;
transition: background-color 0.3s;
margin-top: 20px;
}

.thank-you-section {
color: #623E2A;
margin-bottom: 20px;
}
.thank-you-section h1{
font-family: 'Cinzel', serif;
}
.home-link:hover {
background-color: grey;
}
/* Cart Page*/
#cartContent {
margin: 20px; /* Add margin for better spacing */
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px; /* Add margin between the table and other content */
}

th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

th {
background-color: #623E2A; /* Header background color */
color: #fff; /* Header text color */
}

#cartTotal {
margin-top: 20px; /* Add margin between the table and total cost */
font-size: 18px; /* Adjust the font size for total cost */
color: #333; /* Total cost text color */
margin-left: 2%;
}

.shoppingCart h2{
font-family: 'Cinzel', serif;
color: #623E2A;
margin:2% 0 0 2%;
}

.shoppingCart-info p{
margin:2% 0 0 2%;
}
.shoppingCart-info {
text-align: left; /* Center-align the content */
}

.shoppingCart-Btn{
clear: both; /* Clear any floated elements above */
margin-left: 2%;
}
.remove-button {
background-color: #623E2A;
color: #FFFFFF;
border: none;
padding: 8px 12px;
cursor: pointer;
font-size: 14px;
margin: 4px;
border-radius: 4px;
}

.remove-button:hover {
background-color: #451F0F;
}


.checkout-button {
background-color: #623E2A;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 20px;
text-decoration: none; /* Remove underline */
}

/* Add hover effect */
.checkout-button:hover {
background-color: #451F0F;
}

/* you may also like section*/

.you-may-also-like img {
max-width: 70%;
height: auto;
}
/* Add this style to align products side by side */
.you-may-also-like-container {
display: flex;
justify-content: space-between; /* Adjust as needed */
max-width: 1500px;
margin: 0 2% 2% 8%;
}


.you-may-also-like-text h2{
margin:2% 0 2% 40%;
}

.you-may-also-like  {
width: 30%; /* Adjust the width as needed */
margin-bottom: 20px; /* Add margin for spacing */
}
/* Adjust the following styles for responsiveness 
@media (max-width: 768px) {
  .columns-container1 {
    flex-direction: column;
    align-items: center;
  }

  .image-column {
    margin: 0 0 30px;
  }
}
*/



.reserve {
 position: absolute;
 top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 200px 319px 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('images/reservation.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.reserve h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #fff;
  font-size: 3rem;
}

.form-group {
  margin-bottom: 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;


}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="time"] {
  height: 3rem;
  width: 30%;
  padding: 10px;
  margin-right: 4%;
  color: white;
  background-color: #4E2F1D;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.form-group input[type="text"]:last-child,
.form-group input[type="email"]:last-child,
.form-group input[type="number"]:last-child,
.form-group input[type="time"]:last-child {
  margin-right: 0;
}
.form-group input::placeholder {
  color: white;
}

button {
  width: 20%;
  padding: 10px;
  margin-left: 40%;
  background: #4E2F1D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  height: 3rem;
}

button:hover {
  background: #995d3a;
}
