body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #623E2A;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}
.nav-menu {
    list-style: none;
    padding: 0;
}
.nav-item {
    margin-bottom: 10px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-left: 3px solid transparent;
}
.nav-item a:hover,
.nav-item a.active {
    background: #2c1c13;
}
.nav-menu .fa {
    margin-right: 5px; 
}

.user-info {
    margin-bottom: 30px;
}
.card{
    display: flex;
}
.card .dashboard-widget{
    width:65% ;
}
.mini-widget{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 1rem;
    width: 35%;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-widget {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-box {
    min-width: 70rem;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

.info {
    margin-bottom: 20px;
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #eee;
    color: #333;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

.total td {
    text-align: right;
    font-weight: bold;
}

.total tr {
    background: #f0f0f0;
}

button{
    font-family: 'Manrope', sans-serif;
    background-color: #623E2A;
    color: white;
    border: none;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #451F0F;
}

/*settings page css*/
.page-content {
    display: flex;
    padding: 18px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    max-height: 250px;

}

.page-widget {
    flex-grow: 1;
    margin-right: 20px; /* Adjust margin as needed */
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 325px;
}

  
input {
    width: 200px; /* Set the width of the input box */
    padding: 5px; /* Add padding to the input box */
    border: 2px solid #623E2A; /* Add a border around the input box */
    border-radius: 4px; /* Add rounded corners to the input box */
    font-size: 14px; /* Set the font size of the text inside the input box */
    outline: none; /* Remove the default focus outline */
    font-family: 'Manrope', sans-serif;
  }
  
  /* Style the placeholder text */
input::placeholder {
    color: #999; /* Set the color of the placeholder text */
  }
  
  /* Style the input box when it's focused */
input:focus {
    border-color: #451F0F; /* Change the border color when the input box is focused */
  }
  