html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


   


.sidebar {
    width: 15.625rem;
    background-color: #623E2A;
    color: white;
    padding: 1.25rem;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    padding: 1.25rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-menu {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

.nav-item {
    margin-bottom: 0.625rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.625rem;
    border-left: 0.1875rem solid transparent;
}

.nav-item a:hover,
.nav-item a.active {
    background: #2c1c13;
}

.nav-menu .fa {
    margin-right: 0.3125rem; 
}

.user-info {
    margin-bottom: 1.875rem;
}

.card {
    display: flex;
}

.card .dashboard-widget {
    width: 65%;
}

.mini-widget {
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    margin-bottom: 1.25rem;
    margin-left: 1rem;
    width: 35%;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.dashboard-widget {
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    max-height: 15rem;
    border: 1px solid #ccc;
}

.invoice-box {
    min-width: 50rem;
    margin: auto;
    margin-top: 2%;
    padding: 1.25rem;
    border: 0.0625rem solid #eee;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    line-height: 1.5rem;
    background: #fff;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

.info {
    margin-bottom: 1.25rem;
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #eee;
    color: #333;
}

th, td {
    padding: 0.5rem;
    border: 0.0625rem solid #ddd;
}

.total td {
    text-align: right;
    font-weight: bold;
}

.total tr {
    background: #f0f0f0;
}

button {
    font-family: 'Manrope', sans-serif;
    background-color: #623E2A;
    color: white;
    border: none;
    padding: 0.25rem 1.125rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #451F0F;
}

/*settings page css*/
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.125rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
    max-height: 15.625rem;
    flex-wrap: wrap; /* Allow widgets to wrap */
}

.page-widget {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 18.75rem; /* Adjusted width */
}

input {
    width: calc(100% - 1.375rem); /* Adjusted input width */
    padding: 0.3125rem;
    border: 0.125rem solid #623E2A;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    outline: none;
    font-family: 'Manrope', sans-serif;
}

/* Style the placeholder text */
input::placeholder {
    color: #999;
}

/* Style the input box when it's focused */
input:focus {
    border-color: #451F0F;
}

#chat-container {
    width: 25rem;
    padding: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

#chat-box {
    height: 18.75rem;
    overflow-y: auto;
    border-bottom: 0.0625rem solid #ccc;
    margin-bottom: 0.625rem;
}

#messages {
    list-style: none;
    padding: 0;
}

#message-input {
    width: calc(100% - 3.125rem);
    padding: 0.625rem;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Full width sidebar on small screens */
    }

    .nav-item a {
        padding: 0.5rem; /* Reduce padding for nav links on small screens */
    }

    .card .dashboard-widget {
        width: 100%; /* Full width for dashboard widget on small screens */
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3.75rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 1.25rem;
    border: 0.0625rem solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.balancePopup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.balancePopup-content {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 18.75rem;
    width: 80%;
}

.balancePopup-content h2 {
    margin-top: 0;
}

.balance-amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: #451F0F;
}

.close-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 1.2rem;
    cursor: pointer;
}


