body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #623E2A;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}
.nav-menu {
    list-style: none;
    padding: 0;
}
.nav-item {
    margin-bottom: 10px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-left: 3px solid transparent;
}
.nav-item a:hover,
.nav-item a.active {
    background: #2c1c13;
}
.nav-menu .fa {
    margin-right: 5px; 
}

.user-info {
    margin-bottom: 30px;
}
.card{
    display: flex;
}
.card .dashboard-widget{
    width:65% ;
}
.mini-widget{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 1rem;
    width: 35%;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-widget {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-box {
    min-width: 50rem;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

.info {
    margin-bottom: 20px;
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #eee;
    color: #333;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

.total td {
    text-align: right;
    font-weight: bold;
}

.total tr {
    background: #f0f0f0;
}

button{
    font-family: 'Manrope', sans-serif;
    background-color: #623E2A;
    color: white;
    border: none;
    padding: 4px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #451F0F;
}

/*settings page css*/
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    max-height: 250px;
    flex-wrap: wrap; /* Allow widgets to wrap */
}

.page-widget {
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjusted width */
}

input {
    width: calc(100% - 22px); /* Adjusted input width */
    padding: 5px;
    border: 2px solid #623E2A;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    font-family: 'Manrope', sans-serif;
}

/* Style the placeholder text */
input::placeholder {
    color: #999;
}

/* Style the input box when it's focused */
input:focus {
    border-color: #451F0F;
}

#chat-container {
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#messages {
    list-style: none;
    padding: 0;
}

#message-input {
    width: calc(100% - 50px);
    padding: 10px;
}
  
  @media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Full width sidebar on small screens */
    }

    .nav-item a {
        padding: 8px; /* Reduce padding for nav links on small screens */
    }

    .card .dashboard-widget {
        width: 100%; /* Full width for dashboard widget on small screens */
    }
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
